@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* GLOBAL */
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(185, 169, 115);
    background-image: linear-gradient(rgba(158, 92, 78, 0.4), rgba(220, 220, 43, 0.4));
}
button {
    background-color: transparent;
    border: none;
    font-weight: bold;
    transition: all 100ms;
}
button:hover {
    font-size: 2rem;
}
button:active {
    color: rgba(34, 40, 237, 0.5);
    font-size: 1.6rem;

}

/* BOARD: main, player */
.mainBoard {
    width: 93vw;
    height: 95vh;
}
.playerOneBoard {
    width: 50%;
    height: 100%;
}
.playerTwoBoard {
    width: 50%;
    height: 100%;
}

/* Player Board > Box  */
.topBox {
    width: 100%;
    height: 60%;
}
.botBox {
    width: 100%;
    height: 40%
}
.wrapperBot {
    border: solid 1px rgb(117, 2, 2);
    background-color: red;
    width: 30%;
    height: 30%;
}

/* Player Text : Player info, Global points and Round points*/
.player {
    font-size: 3rem;
}
.playerGlobalPointCount {
    font-size: 6rem;
    color: red;
}
.playerRoundPointCount {
    font-size: 2.5rem;
    color: white;
}

/* Middle Interface > COLUMN */
.middleInterface {
    position: absolute;
    right: 33%;
    width: 33%;
    height: 95%;
}
.newGame {
    margin: 0;
    padding: 0;
    width: 100%; 
    height: 20%;
}
.middleDice {   
    margin: 0;
    padding: 0;
    width: 100%; 
    height: 29%;
}
.spaceBuffer {
    width: 100%;
    height: 25%;
    margin: 0;
    padding: 0;
}
.rollDice {  
    margin: 0;
    padding: 0;
    width: 100%; 
    height: 5%;
}
.holdDice {  
    margin: 0;
    padding: 0;
    width: 100%; 
    height: 10%;
}

/* Middle Interface > Text, Dice, Btn */
.newGameBtn {
    font-size: 1.5rem;
}
.middleDiceBox {
    width: 30%;
    height: 40%;
}
.rollDiceBtn {
    font-size: 1.5rem;
}
.holdDiceBtn {
    font-size: 1.5rem;
}
.iconImg {
    color: red;
    font-size: 2.2rem;
}